*{
    margin: 0;
    padding: 0;
    font-family: 'MaisonNeueBook', sans-serif;
}

@font-face {
	font-family: 'MaisonNeueBook';
	src: url('./Fonts/MaisonNeue-Book.woff') format('woff'),
		url('./Fonts/MaisonNeue-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}